---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/estilo.css';

---
<h1 class="contact">Contacto</h1>
<form>
    <label>Nombre</label>
    <input type="text" name="nombre" />

     <label>Email</label>
    <input type="email" name="email" />

     <label>Mensaje</label>
    <textarea name="mensaje"></textarea>

    <button type="submit">Enviar</button>
</form>