---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";


let proyectos =[];
let error = null;
try {
    const response = await fetch("http://localhost/wordpress/wp-json/v2/proyectos");
    if(!response.ok){
        throw new Error (`Error HTTP : ${response.status}`);
    }

    proyectos = await response.json();
} catch (err) {
    if (err instanceof Error){
        error= err.message;
    } else{
        error = "Error desconocido";
    }
  
}
---

<MainLayout title="Proyectos">
    <Header />
    <main class="container">
        <h1>Mis proyectos</h1>
        {error && (<p>Error cargando poryectos: {error}</p>)}

        {!error && proyectos.length === 0 && (<p>No hay proectos disponibles</p>)}
        
        <div class="grid">
v            {Array.isArray(proyectos) && proyectos.map ((proyecto) => (
            <article>
            <h3 set:html={proyecto.title?.rendered}></h3>
            <div set:html={proyecto.excerpt?.rendered}></div>
            </article>    
     
        ))}
    </div>
    </main>

    <Footer />
</MainLayout>